body,
body>div {
  height: 100vh;
  width: 100vw;
  font-family: 'Dekko'
}

#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#container>div {
  display: flex;
}

#navbar {
  padding: 2em;
  justify-content: space-evenly;
  
}

#navbar {
  display: flex;
  gap: 20px;
}

#navbar a {
  font-size: 40px; 
  font-weight: bold;
  text-decoration: none;
  color: #333;
  padding: 5px 
}

#navbar a:hover {
  color: #f47fdc; /* Set the color of the link text on hover */
} 

#main-section {
  flex-grow: 1; 
}

#main-section>div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background: linear-gradient(45deg, #ff0000, #720d43, #f40404);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  color: antiquewhite;
}


.blue {
  background: linear-gradient(45deg, #00aaff, #1e0c41, #81c9ed);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  color: antiquewhite;

}

.orange {
  background: linear-gradient(45deg, #e1891d, #dea98b, #e9ac12);
  background-size: 600% 600%; 
  animation: gradientAnimation 10s ease infinite;
  color: antiquewhite; 
}

.yellow {
  background: linear-gradient(45deg, #ddf868, #dcbb95, #e9fd11);
  background-size: 600% 600%; 
  animation: gradientAnimation 10s ease infinite;
  color: antiquewhite; 
}

.green {
  background: linear-gradient(45deg, #129e20, #b9cd6f, #0ebc45); 
  background-size: 600% 600%;  
  animation: gradientAnimation 10s ease infinite;
  color: antiquewhite;
}

.home {
  background: linear-gradient(45deg, #00aaff, #ff00aa, #00aaff);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
  color: antiquewhite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
} 